@page "/squidmanga"

<h3>SquidManga</h3>

<p>
    Begining First test for loading any kind of manga;
    using Squid Girl manga as the manga data to get,
    for testing purposes of course. (Varient 0)
</p>

@code {

}
